
<mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile [colspan]="4" [rowspan]="1" [style.background]="'#ffffff'">
        <h3>Top Heroes</h3>
    </mat-grid-tile>
    <mat-grid-tile *ngFor="let hero of heroes" routerLink="/detail/{{ hero.id }}" [style.background]="'#4d94ff'">
        <h4>{{ hero.name }}</h4>
    </mat-grid-tile>
</mat-grid-list>

<app-hero-search></app-hero-search> 