<h3> Search Hero </h3>
<div id ="search-component">

    <mat-form-field class="example-full-width">
            <input matInput placeholder="Hero Search" value="" #searchBox id="search-box" (input)="search(searchBox.value)">
    </mat-form-field>

    <mat-nav-list>
        <mat-list-item *ngFor="let hero of heroes$ | async" class="example-50-width">
            <a matLine routerLink ="/detail/{{hero.id}}"> {{ hero.name }}</a>
                    <mat-icon>info</mat-icon>
        </mat-list-item>
    </mat-nav-list>

</div>