<h1>{{ title }}</h1>


    <a mat-stroked-button [routerLink]="['/dashboard']" >Dashboard</a>
    <a mat-stroked-button routerLink="/heroes">Heroes</a>

<mat-grid-list cols="4">
    <mat-grid-tile [colspan] = 3 [rowspan]=1 >
        <router-outlet></router-outlet>
    </mat-grid-tile>
    <mat-grid-tile [colspan]= 1 [rowspan]= 1>
            <app-messages></app-messages>
    </mat-grid-tile>
</mat-grid-list>
