<h2>My Heroes</h2>
<mat-nav-list cols="2">
    <mat-list-item *ngFor="let hero of heroes">
            <a matLine routerLink="/detail/{{ hero.id }}">
               {{ hero.id }} : {{ hero.name }}
               </a>
            <button mat-icon-button title="delete hero" (click)="delete(hero)">
                    <mat-icon>delete_forever</mat-icon>
            </button>
    </mat-list-item>
</mat-nav-list>

<div>

    <mat-form-field>
        <input #heroName matInput placeholder="Hero name" value="" />
    </mat-form-field>
    
    <button mat-stroked-button color="warn"
    (click)="add(heroName.value); heroName.value=''">
        add
    </button>

</div>