<div *ngIf="hero">

    <h2> {{ hero.name | uppercase }} Details</h2>
    <div><span>id: </span> {{ hero.id }} </div>
    <div>
        <mat-form-field class="example-full-width">
                <input [(ngModel)]="hero.name" matInput placeholder="Hero name" value=""  />
        </mat-form-field>
    </div>

</div>
<button mat-button (click)="goBack()">go Back</button>
<button mat-raised-button  color="primary" (click)="save()">Save</button>
